# Configurações de banco de dados
[database]
type = postgres
host = localhost:5432
name = nome_do_banco
user = usuario
password = senha

# Configurações do servidor web
[server]
http_addr = 0.0.0.0
http_port = 3000
domain = localhost

# Configurações de autenticação
[auth]
disable_login_form = false
disable_signout_menu = false

# Configurações de log
[log]
mode = console
filters = info

# Configurações de armazenamento em cache
[metrics]
enable_alpha = true
